.longDescription img {
    width: 200px;
    height: auto;
  }

.wrapper-class {
    padding: 1rem;
    border: 1px solid #ccc;
    margin-bottom:'20px'
  }
  .editor-class {
    background-color:lightgray;
    padding: 1rem;
    border: 1px solid #ccc;
  }
  .toolbar-class {
    border: 1px solid #ccc;
  }